.combine-area {
    border: 1px solid #7a61f5;
    border-radius: 1px;
    display: inline-block;
    min-width: 400px;
    min-height: 14px;
    padding: 2px 5px;
}

.root {
    border-radius: 2px;
    background-color: #7a61f5;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px 3px;
}

.roots-area {
    width: 460px;
}